@import '../../styles/colors';
.shadow{
    box-shadow: 0 0 0 1px rgb(80, 80, 80);
}
.label{
    font-size: large;
    color: #333333;
    
}
.add{
    color: white;
    background-color: $red;
    &:hover{
        color: $red;
        border: 1px solid $red;
        background-color: $white;
    }

}
.submit{
    color: $blue;
    border: 1px solid $blue;
    margin-top: -120px;
   height: 10%;
   margin-left: 7%;
 
    &:hover{
        color: $white;
       
        background-color: $blue;
    }
}