<div class="d-flex flex-column justify-content-between  ">


    <div class="mb-5">
        <nb-menu [items]="items" >
        </nb-menu>
      
        <nb-list >
        <nb-list-item class="m-0  p-0" nbInfiniteList *ngFor="let entity of entities" >
            <a  class="items ml-lg-1 ml-md-1 ml-sm-2 mt-2 mb-1 p-1 " routerLink ="entity/{{entity.id}}"  routerLinkActive="active"> <nb-icon class="mr-2" icon="archive-outline"></nb-icon> <p class="d-sm-none d-none d-lg-inline d-md-inline items"> {{ entity.name }}</p> </a>
        </nb-list-item>
    </nb-list>
    </div>

    <div class="mt-5 mb-5 border-top">
        <nb-menu [items]="items2" class="mt-1">
        </nb-menu>
    </div>
    <div class="mt-5"></div>
    <div class="mt-4 ">
        <nb-menu [items]="items3" class="logout">
        </nb-menu>
    </div>
</div>