<div class="d-flex flex-column justify-content-between  ">


    <div class="mb-5">
        <nb-menu [items]="items" routerLinkActive="activebutton">
        </nb-menu>
    </div>
    <div class="mt-5 mb-5 border-top">
        <nb-menu [items]="items2" class="mt-1">
        </nb-menu>
    </div>
    <div class="mt-5">
        <nb-menu [items]="items3" class="logout">
        </nb-menu>
    </div>
</div>
<nb-toggle class="mt-4 toggle"  status="basic" (click)="toggleCompact()"></nb-toggle>
<!---<button nbButton  size="tiny" (click)="toggleCompact()" class="mt-4" ></button>--->
