@import '../styles/colors';
.cancel{
    box-shadow:none;
  
   
    &:hover{
     box-shadow:none;
        color: $blue;

    }
}
.edit{
    box-shadow:none;
    border: 1px solid $blue;
    border-radius: 5px;
    color: $blue;
    &:hover{
        background-color: $blue;
        color: $white;

    }

}