<button mat-button (click)="onNoClick()" class="btn cancel"><mat-icon>close</mat-icon></button>
 <form #form = "ngForm" (ngSubmit) = "onClickSubmit(form.value)" >
<div mat-dialog-content>
 
    <div class=" d-flex justify-content-center ">
        <h1>Update Entity</h1>
    </div>
   
    <mat-form-field class="example-full-width"  style="width: 100%;">
    <mat-label> Entity Name</mat-label>
    <input type="text" name="name"  matInput [(ngModel)]="data.entity.name" required>
 
  </mat-form-field>
 
</div>
<div mat-dialog-actions class=" d-flex justify-content-end ">
<button mat-button class="btn edit mx-2 px-4" type="submit">Edit</button>
</div>
</form>
