<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <nb-card size="medium">
        <nb-card-header class="text-center">{{input.name}} Properties</nb-card-header>
        <nb-card-body>
           
            <input class="m-2"  type="text" fullWidth placeholder="Label" nbInput formControlName="label">
            <div *ngIf="form.get('label')?.invalid && submited">
                <small class="text-danger" *ngIf="form.get('label')?.errors?.required">
                    Label is required.
                </small>
            </div>
            <input  class="m-2"   type="text" fullWidth placeholder="ID" nbInput formControlName="id">
            <div *ngIf="form.get('id')?.invalid && submited">
                <small class="text-danger" *ngIf="form.get('id')?.errors?.required">
                    ID is required.
                </small>
            </div>
            <nb-toggle class="m-2" formControlName="required">Required</nb-toggle>
            <div *ngIf="input.name === 'TEXT' || input.name === 'NUMBER'">
                <input  class="m-2"   type="text" fullWidth placeholder="Hint" formControlName="hint" nbInput>
                <div *ngIf="form.get('hint')?.invalid && submited">
                    <small class="text-danger" *ngIf="form.get('hint')?.errors?.required">
                        Hint is required.
                    </small>
                </div>
            </div>
            
            <div *ngIf="input.name === 'TEXT'">
                <input  class="m-2"   type="number" fullWidth placeholder="Min Length" nbInput formControlName="min_length">
                <div *ngIf="form.get('min_length')?.invalid && submited">
                    <small class="text-danger" *ngIf="form.get('min_length')?.errors?.required">
                        Min Length is required.
                    </small>
                    <small class="text-danger"  *ngIf="form.get('min_length')?.errors?.min">
                        Min has to be greater than 2.
                    </small>
                </div>
                <input type="number" fullWidth placeholder="Max Length" nbInput formControlName="max_length">
                <div *ngIf="form.get('max_length')?.invalid && submited">
                    <small class="text-danger"  *ngIf="form.get('max_length')?.errors?.required">
                        Max Length is required.
                    </small>
                </div>
            </div>
            <div *ngIf="input.name === 'NUMBER'">
                <input  class="m-2"   type="number" fullWidth placeholder="Min" nbInput formControlName="min">
                <div *ngIf="form.get('min')?.invalid && submited">
                    <small class="text-danger"  *ngIf="form.get('min')?.errors?.required">
                        Min is required.
                    </small>
                </div>
                <input  class="m-2"   type="number" fullWidth placeholder="Max" nbInput formControlName="max">
                <div  class="m-2"   *ngIf="form.get('max')?.invalid && submited">
                    <small class="text-danger"  *ngIf="form.get('max')?.errors?.required">
                        Max is required.
                    </small>
                </div>
              
                <!-- Don't forget to add [(ngModel)]="auto_calculated" bellow -->
                <nb-toggle [(ngModel)]="auto_calculated" formControlName="auto_calculated">Auto Calculated</nb-toggle>
                <!------------------- OPERATIONS PART  ----------------------------->
                <div *ngIf="auto_calculated">
                    <h5>Operations</h5>
                    <div class="container-fluid" cdkDropListGroup>
                        <div class="row">
                            <div class="col-md-3">
                                <nb-list cdkDropListSortingDisabled cdkDropList (cdkDropListDropped)="drop($event)"
                                    [cdkDropListData]="operation_components">
                                    <nb-list-item *ngFor="let component of operation_components" cdkDrag class="col-7">
                                        {{ component.type }}
                                    </nb-list-item>
                                </nb-list>
                            </div>
                            <div class="col-9"  class="m-1"  >
                                <nb-list cdkDropList cdkDropListDisabled [cdkDropListData]="operations"
                                    (cdkDropListDropped)="drop($event)">
                                    <nb-list-item *ngFor="let component of operations; let i = index" cdkDrag>
                                        <div [ngSwitch]="component.type">
                                            <div *ngSwitchCase="'NUMBER'">
                                                <input   class="m-2"  type="number" (keyup)="valueKeyup($event, i)"
                                                    [value]="component.value" placeholder="Value" nbInput
                                                    style="width: 128px;">
                                            </div>
                                            <div  class="m-2" *ngSwitchCase="'VARIABLE'">
                                                <nb-select placeholder="ID" [selected]="component.id"
                                                    (selectedChange)="variableChosen($event, i)">
                                                    <nb-option *ngFor="let id of component.ids" [value]="id">{{id}}
                                                    </nb-option>
                                                </nb-select>
                                            </div>
                                            <div *ngSwitchCase="'REF'">
                                                <nb-select  class="m-2" placeholder="ID" [selected]="component.id"
                                                    (selectedChange)="variableChosen($event, i)">
                                                    <nb-option *ngFor="let id of component.ids" [value]="id">{{id}}
                                                    </nb-option>
                                                </nb-select>
                                                 <input  type="text" [value]="component.sub_id"
                                                    (keyup)="subIdKeyup($event, i)" placeholder="Sub-Id" nbInput
                                                    >
                                            </div>
                                            <div *ngSwitchCase="'LIST'">
                                                <nb-select  placeholder="Method" [selected]="component.method"
                                                    (selectedChange)="methodChosen($event, i)">
                                                    <nb-option value="+">Sum</nb-option>
                                                    <nb-option value="+">Avg</nb-option>
                                                    <nb-option value="+">Multi</nb-option>
                                                    <nb-option value="+">Count</nb-option>
                                                </nb-select>
                                                <nb-select placeholder="ID" [selected]="component.id"
                                                    (selectedChange)="variableChosen($event, i)">
                                                    <nb-option *ngFor="let id of component.ids" [value]="id">{{id}}
                                                    </nb-option>
                                                </nb-select>
                                            </div>
                                            <div *ngSwitchCase="'LISTREF'">
                                                <nb-select placeholder="Method" [selected]="component.method"
                                                    (selectedChange)="methodChosen($event, i)">
                                                    <nb-option value="+">Sum</nb-option>
                                                    <nb-option value="+">Avg</nb-option>
                                                    <nb-option value="+">Multi</nb-option>
                                                    <nb-option value="+">Count</nb-option>
                                                </nb-select>
                                                <nb-select placeholder="ID" [selected]="component.id"
                                                    (selectedChange)="variableChosen($event, i)">
                                                    <nb-option *ngFor="let id of component.ids" [value]="id">{{id}}
                                                    </nb-option>
                                                </nb-select>
                                                <input type="text" [value]="component.sub_id"
                                                    (keyup)="subIdKeyup($event, i)" placeholder="Sub-Id" nbInput>
                                            </div>
                                        </div>
                                        <nb-select placeholder="Operation" [selected]="component.op"
                                            (selectedChange)="operationChosen($event, i)">
                                            <nb-option value="">NONE</nb-option>
                                            <nb-option value="+">+</nb-option>
                                            <nb-option value="+">-</nb-option>
                                            <nb-option value="+">*</nb-option>
                                            <nb-option value="+">/</nb-option>
                                        </nb-select>
                                        <button  type="button"  class="m-1 btn red"   (click)="delete(i)"><mat-icon>delete_forever</mat-icon></button>
                                    </nb-list-item>
                                    <nb-list-item *ngIf="operations.length === 0">Add Inputs Here</nb-list-item>
                                </nb-list>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------- OPERATIONS PART  ----------------------------->
            </div>
            <div  class="m-" *ngIf="input.name === 'REF' || input.name === 'LISTREF'">
                <nb-select placeholder="Entities" formControlName="entity">
                    <nb-option *ngFor="let entity of entities" value="{{entity}}">{{entity}}</nb-option>
                </nb-select>
                <div *ngIf="form.get('entity')?.invalid && submited">
                    <small class="text-danger"  *ngIf="form.get('entity')?.errors?.required">
                        Entity is required.
                    </small>
                </div>
            </div>
            <div *ngIf="input.name === 'FILE'">
                <nb-select placeholder="File Types" formControlName="mime_type">
                    <nb-option *ngFor="let mime_type of mime_types" value="{{mime_type}}">{{mime_type}}</nb-option>
                </nb-select>
                <div *ngIf="form.get('mime_type')?.invalid && submited">
                    <small class="text-danger"  *ngIf="form.get('mime_type')?.errors?.required">
                        File Type is required.
                    </small>
                </div>
            </div>
            <div *ngIf="input.name === 'DROPDOWN'">
                <input id="dropdown_option" type="text" placeholder="Option" nbInput #option>
                <button type="button" (click)="addOption(option)" nbButton status="primary">Add</button><br>
                <nb-tag-list (tagRemove)="onOptionRemove($event)">
                    <nb-tag *ngFor="let option of options" [text]="option" [removable]="true"></nb-tag>
                </nb-tag-list>
                <small class="text-danger" *ngIf="options.length < 2 && submited">
                    You should add at least 2 Options.
                </small>
            </div>
            <nb-toggle *ngIf="input.name === 'FILE' || input.name === 'DROPDOWN'" formControlName="multiple">Multiple
            </nb-toggle>
            <div *ngIf="input.name === 'LIST'">
                <nb-select placeholder="List Types" formControlName="data_type">
                    <nb-option *ngFor="let data of data_types" value="{{data}}">{{data}}</nb-option>
                </nb-select>
                <div *ngIf="form.get('data_type')?.invalid && submited">
                    <small class="text-danger"  *ngIf="form.get('data_type')?.errors?.required">
                        Data Type is required.
                    </small>
                </div>
            </div>
            
        </nb-card-body>
        <nb-card-footer class="d-flex justify-content-end">
            <button type="submit" class="btn mr-2 submit">Submit</button>
            <button type="button" (click)="cancel()" class="btn cancel" >Cancel</button>
        </nb-card-footer>
    </nb-card>
</form>