@import '../styles/colors';
.button{
    border: 1px solid $red;
    color: $red;
    font-weight: 400;
    border-radius: 20px;
    &:hover{
        color: $white;
        background-color: $red;
    }
}
.shadow{
    box-shadow: 0 0 0 1px rgb(80, 80, 80);
}