@import '../styles/colors';
.btnadd {
    background-color:$white;
    color: $blue;
    border: 1px solid $blue;
 
  &:hover{
    background-color:$blue;
    color: $white;

  }
}
h5{
  color:$white;
  &:hover{
    color: antiquewhite;
  }
}
.end{
    display: flex; 
    justify-content: space-between;
}
h4{
    color: $blue;
}
.red{
  color:$white;
  box-shadow: none;
 &:hover{
      color: lighten($color: $red, $amount: 40%);
      box-shadow: none;

  }
}
.right{
  display: flex;
  justify-content: flex-end;
}
.green{
  color: $white;
  &:hover{
      color: darken($color: $green, $amount: 10%)
  }
}
.card{
  width: 30%;
  box-shadow:  0 0 0.5em rgb(173, 173, 173);


}
.card:hover{
  
  background-color: $light;
  .overlay {
    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
   
  }

}
