@import '../../styles/colors';
.tools{
    color: black;
    font-size: medium;
}
.toolbox{
    background-color: $red;
    color: $white;
    border: 1px solid $red;
    text-align: center;
}
.redborder{
    border: 1px solid $red;
}
.round{
    border-radius: 5px;
}
.title {
    border: 0ch;
    background-color: white;
    &::after{
        border: 0ch;
        background-color: white;
    }
  
}
.text-gray{
    color: gray
}
.hover{
    
    color: $red;
    font-weight: 200;
    &:hover{
        background-color: $red;
        color: $white;
    }
}
.green{
    color: $green;
    &:hover{
        color: darken($color: $green, $amount: 20%);
    }
}
.red{
    color: $red;
    &:hover{
        color: darken($color: $red, $amount: 20%);
    }
}