@import '../styles/colors';
p{
    font-weight: bold;
    color: $blue;
}
.btn{
    color: $blue;
  border: 0.5px solid $blue;
  &:hover{
      background-color: $blue;
      color: $white;
     
  }
  
}
.border{
    border-radius: 10%;
    box-shadow: 3% $blue;
}

.button{
   font-weight:bold;
    color: $blue;
   &:hover{
       color: $white;
       background-color: $blue;
   }
}
.active{
    background-color: $red;
    border: 0;
    color: $white;
}

/*********************************************/

///////





h1 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
    small {
        display: block;
        font-size: 15px;
        padding-top: 8px;
        color: gray;
    }
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
   
    .avatar-edit {
        position: absolute;
        margin-left: 100px;
        z-index: 1;
        top: 10px;
        input {
            height: 120px;
           opacity: 0;
           
            
        }
        label{
            position: absolute;
            top: 1px;
            left: 50px;
         
           border:  1px solid transparent;
           border-radius: 100%;
         
        }
        
    }
    .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}